.container
  #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    .panel.panel-info
      .panel-heading
        .panel-title
          %a{:href => "./rutas"} << atrás
      .panel-body
        / div id="mensaje-pass" class="alert alert-danger col-sm-12"></div
        %form#form-signup.form-horizontal{:action => "/addruta", :method => "POST", :name => "form-signup", :role => "form"}
          %h2.form-signin-heading Añadir Rutas
          .form-group
            %label.col-sm-2.control-label{:for => "nombre"} Ruta*
            .col-sm-10
              %input#nombre.form-control{:autofocus => "", :name => "nombre", :placeholder => "Nombre", :required => "", :type => "text"}
          .form-group
            %label.col-sm-2.control-label{:for => "dificultad"} Dificultad*
            .col-sm-6
              %label.radio-inline
                %input#optionsRadios1{:checked => "", :name => "dificultad", :type => "radio", :value => "1"}
                  Fácil
              %label.radio-inline
                %input#optionsRadios2{:name => "dificultad", :type => "radio", :value => "2"}
                  Medio
              %label.radio-inline
                %input#optionsRadios3{:name => "dificultad", :type => "radio", :value => "3"}
                  Difícil
          .form-group
            %label.col-sm-2.control-label{:for => "apellidos"} Descripción*
            .col-sm-10
              %textarea#descripcion.form-control{:name => "descripcion", :placeholder => "Descripción", :required => "", :rows => "5"}
          .form-group
            %label.col-sm-2.control-label{:for => "nombre"} Imagen*
            .col-sm-10
              %input#nombre.form-control{:name => "imagen", :placeholder => "Debe pegar el enlace de la imagen aquí", :required => "", :type => "text"}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button#btn-submit.btn.btn-lg.btn-success.btn-block{:onclick => "enviar()", :type => "submit"} Añadir