!!!
%html
  %head
    %title WalkERS - Amigos
    %link{:href => "./css/bootstrap.min.css", :rel => "stylesheet"}
      %link{:href => "./css/index.css", :rel => "stylesheet"}
        %link{:href => "./css/buscar.css", :rel => "stylesheet", :type => "text/css"}
          %link{:href => "./css/amigos.css", :rel => "stylesheet", :type => "text/css"}
            %script{:src => "./js/jquery.min.js"}
            %script{:src => "./js/bootstrap.min.js"}
  %body
    - if (flash[:mensaje])
      .alert-danger{:role => "alert"}= flash[:mensaje]
    %h1
      %strong Aquí encontraras todos tus amigos
    %button.btn.btn-default{:type => "button"}
      %a{:href => "./buscaramigos"} BUSCAR AMIGOS
    %br
      %br
        / Imagen
        .lista-amigos
          - for i in 0...Amigos.count()
            - if ((@amigo[i].nombre) && (session[:id] == @amigo[i].id_usuario))
              .clase-amigo
                %img{:alt => "", :px => "", :src => "img/perfil-anonimo.jpg", :width => "200"}                 
                %h4.list-group-item-text
                  = @amigo[i].nombre
          %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
  </html