<html> 

<head> 
<title>Walkers - Buscar Amigos.</title> 
</head> 

<body> 
    <h1><strong>  Buscar Amigos - Walkers</strong> </h1>
    <form method=GET action="/"> 
    <fieldset> 
        <input type=hidden name=ie value=UTF-8 /> 
        <input type=hidden name=oe value=UTF-8 />                   
         Introduce el nombre del amigo a buscar:<input TYPE=text id="s" name="q" value="" size="50" /> 
        <font size=-1> 
        <br> <br>               
        <!--<input type=radio name=sitesearch value="" /> En nuestra pagina web</br> -->
        <input type=submit  id="x" name=btnG VALUE="Buscar" /> 
        </font> 
    </fieldset> 
    </form> 

</body> 

</html>