#ultimas
  %h4 ÚLTIMAS RUTAS AÑADIDAS
  .row
  - @ultimas_rutas.each do |ruta|
    .col-xs-3
      %a.thumbnail{:href => "ruta/#{ruta.id_rut}"}
        %img.img-responsive{:src => "./img/sendero1.jpg"}
        %p= ruta.nombre
#populares
  %h4 RUTAS MÁS POPULARES
  .row
  - @ultimas_rutas.each do |ruta|
    .col-xs-3
      %a.thumbnail{:href => "ruta/#{ruta.id_rut}"}
        %img.img-responsive{:src => "./img/sendero1.jpg"}
        %p= ruta.nombre