<!DOCTYPE html>
<html>
  <head>
    <title>WalkERS</title>
    <link rel="stylesheet" type="text/css" href="./css/comun.css">
  </head>
  <body>
  	<div id="menu"></div>
  	Identificado: <%= session[:user] %>
    <a href="/logout">Salir</a>
  </body>
</html>