<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Titulo Pagina -->
    <title>WalkERS - Login</title>
  </head>
  <body>
  <h1>Logueo</h1>
  <!--Formulario Registrar-->
          <fieldset>
          <legend>Datos de conexion</legend>
			<form action="/login" method="POST" name="form-login" role="form">
			   <div class="form-group">
				  <label for="name"></label>
				  Usuario: <input id="usuario" name="usuario" type ="text" class = "form-control" placeholder="Usuario" autofocus> </input>
				  <br> <br>
				  Contrase&ntilde;a:<input id="password" name="password" type="password" class="form-control" placeholder="Contrase&ntilde;a"></input>
				  <br> <br>
				  <a href="#">Olvidastes la contrase&ntilde;a?</a>
				  <!-- Boton Enviar -->
				  <br> <br>
			   </div>  
			   <input class="btn btn-info" id="enter" type="submit"value="Login"> </input>
			</form>	  
			</fieldset>
	</body>
</html>

