<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Titulo Pagina -->
    <title>WalkERS - Login</title>
  </head>
  <body>
    <div id="container">
	  <form action="/login" method="POST" name="form-login" role="form">
	    <!-- Usuario -->
		<label for="name">Usuario:</label>
	    <input type="name">
			<!-- Contraseña-->
			<br> <br>
			  <label for="password">Contrase&ntilde;a:</label>
			  <input type ="password">
			    <br> <br>
			      <a href="#">Olvidastes la contrase&ntilde;a?</a>
			        <div id="pie">
				      <!-- Boton Enviar -->
				        <br> <br>
				          <input type="submit" value="Login">
                    </div>
      </form>		
   </div>
</body>
</html>

