<!DOCTYPE html>
<html>
  <head>
    <title>WalkERS - Rutas</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./css/rutas.css" type="text/css"/>
    <link rel="stylesheet" href="./css/menu.css" type="text/css"/>
  </head>
  <body>
    <div class="container" style="padding-top: 1em;">
  <nav class="navbar navbar-default" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
         para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">WalkERS</a>
    </div>
   
    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
         otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">MIS SENDEROS</a></li>
        <li><a href="#">AMIGOS</a></li>
        <li class="active"><a href="./rutas">RUTAS</a></li>
        <li><a href="#">BUSCAR AMIGOS</a></li>
        <p class="navbar-text pull-left">
        Conectado como <a href="#" class="navbar-link"><b><%= session[:user] %></b></a>
        - <a href="/logout">Salir</a>
      </p>
      </ul>
   
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
      </form>
    </div>
  </nav>
</div>
<!-- FIN MENU -->

      <div id ="cabecera"> 
        <div id = "texto">
          <br> <br> <br> <br>
          <h1> RUTA </h1>
        </div>
      </div>  
      <!-- Menu -->
      <div id = "menu">
      <div id="header">
      <ul class="nav">
        <li><a href="">Descripcion</a></li>
        <li><a href="">Comentario</a> </li>
        <li><a href="">Mapa</a> </li>
    </div>
        </div> 
      </div>
      <!-- Imagen -->
      <div id ="izquierda">
        <img src="./img/sendero1.jpg" border="1" alt="imagen Ruta 1" width="400" height="275"> 
        <br> 
        <h2> Teide </h2>
      </div>  
      <!--Contenido -->
      <div id ="derecha">
       <p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
       </p>

      <!--Pie-->
      </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>