%h1 Rutas
%button.btn.btn-default{:type => "button"}
  %a{:href => "./addruta"} Añadir ruta

.panel.panel-success
  .panel-heading
    %h3.panel-title Rutas
  .panel-body
    .row
    - @rutas.each do |ruta|
      .col-xs-3
        %a.thumbnail{:href => "./ruta/#{ruta.id}"}
          %img.img-responsive{:src => "#{ruta.imagen}"}
          %p= ruta.nombre
          %p Añadida el #{ruta.created_at.strftime("%d/%m/%Y")}

%nav
  %ul.pager
    %li.disabled
      %a{:href => "#"} Previous
    %li
      %a{:href => "#"} Next