<html>
	<head>
		<title> Walkers - Rutas</title>	
	</head>
	<body>
        <div style = "color:red">
            <h1 align = "left"> Rutas </h1>
        </div>
             
		<div style="color:green">
   		   <h1>Ruta 1
   		     <hr align="left" size="2" width="400" color="red">
   		        <img src="sendero1.jpg" border="1" alt="imagen Ruta 1" width="400" height="300">
   		        <h2> Descripcion 
   		        <p> El sendero de La Laguna es uno de los mejores senderos de la isla </p>
   		   </h1>
		</div>
		<div style="color:green">
   		   <h1>Ruta 2
   		     <hr align="left" size="2" width="400" color="red">
   		        <img src="sendero2.jpg" border="1" alt="imagen Ruta 1" width="400" height="300">
   		        <h2> Descripcion 
   		        <p> El sendero de El Teide es uno de los mejores senderos de la isla </p>
   		   </h1>
		</div>
    </body>
</html>



