<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WalkERS</title>
  </head>
  <body>
  <!--Parte Central -->
  <h1><strong><mark>Registrate a SYTW - Walkers</strong> </h1>
  <!-----------------------------formulario registrar-->
			<form action="/" method="POST" name="input" role="form">
			   <div class="form-group">
				  <label for="name"></label>
				  Nombre: <input id = "nombre" name = "nombre" type ="text" class = "form-control" placeholder="Nombre"> </input>
				  <p>
				  Apellidos: <input id = "apellidos" name = "apellidos" type ="text" class = "form-control" placeholder="Apellidos"> </input>
				  <p>
				  Usuario : <input id="user" name="user" type="text" class="form-control" placeholder="Usuario"></input>
				  <p>
				  E-Mail <input id = "email" name ="email" type = "e-mail" class = "form-control" placeholder = "email"> </input>
				  <p>
				  Contrase&ntilde;a:<input id="pass1" name="pass1" type="password" class="form-control" placeholder="Contrase&ntilde;a"></input>
				  <p>
				  Repetir Contrase&ntilde;a:<input id="pass2" name="pass2" type="password" class="form-control" placeholder="Repetir Contrase&ntilde;a"></input>
				  <p>
			   </div>
			   <input class="btn btn-info" id="enter" type="submit" value="Click para registrarte."></input>

  </body>
</html>