<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>WalkERS - Registro</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/walkers.js"></script>
  </head>
  <body>
    <h1>Registro</h1>
    <!--formulario registrar-->
    <form action="/signup" method="POST" name="form-signup" role="form">
	  <div class="form-group">
	    <label for="name"></label>
		Nombre: <input id = "nombre" name = "nombre" type ="text" class = "form-control" placeholder="Nombre"> </input>
		<br> <br>
		Apellidos: <input id = "apellidos" name = "apellidos" type ="text" class = "form-control" placeholder="Apellidos"> </input>
		<br> <br>
		Usuario : <input id="user" name="user" type="text" class="form-control" placeholder="Usuario"></input>
		<br> <br>
		E-Mail <input id = "email" name ="email" type = "text" class = "form-control" placeholder = "email"> </input>
		<br> <br>
		Contraseña:<input id="pass1" name="pass1" type="password" class="form-control" placeholder="Contrase&ntilde;a"></input>
		<br> <br>
		Repetir Contraseña:<input id="pass2" name="pass2" type="password" class="form-control" placeholder="Repetir Contraseña"></input>
		<br> <br>
	  </div>
	  <input class="btn btn-info" id="enter" type="submit" value="Click para registrarte."></input>
    </form>   
  </body>
</html>