<html>
   <head>
      <title>WalkERS - Ultimas Rutas</title>
      <link rel ="stylesheet" href = "./css/bootstrap.min.css" type = "text/css">
      <link rel="stylesheet" href="./css/ultimas.css" type="text/css"/>
   </head>
   <body>
      <div id ="contenedor">  
         <div id ="cabecera"> 
            <div id = "texto">
             <h1> ULTIMAS RUTAS </h1>
            </div>
         </div> 
      <!-- Imagen -->
          <div class="container-fluid container-rutas">
      	     <div class="row rutas">
                <div class="col-md-3 article-img">
                   <a href="#"><img src="img/sendero1.jpg" alt=""></a>
                   <div class="article-overlay"></div>
                </div>
        		<div class="col-md-3 article-img">
          	       <a href="#"><img src="img/sendero1.jpg" alt=""></a>
          		   <div class="article-overlay"></div>
        		</div>
        		<div class="col-md-3 article-img">
          		   <a href="#"><img src="img/sendero1.jpg" alt=""></a>
            	   <div class="article-overlay"></div>
        		</div>
        		<div class="col-md-3 article-img">
          		   <a href="#"><img src="img/sendero1.jpg" alt=""></a>
          			<div class="article-overlay"></div>
        		</div>
			</div>	
	   </div>
   </body>
</html>      