<!DOCTYPE html>
<html>
  <head>
    <title>WalkERS - Welcome</title>
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:400, YOpen+Sans+Condensed:300italic,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/welcome.css">
    <link rel="icon" type="image/ico" href="img/logo.ico" />
  </head>
  <body>
    <div id="contenedor">
      <div id="contenedor-logo">
        <img id="logo" src="img/logo.png"/>
      </div>
      <div id="texto">
    	  <h1>WalkERS</h1>
    	  <h3>BIENVENIDO A LA RED SOCIAL DEDICADA AL MUNDO DEL SENDERISMO.</h3>
        <h4>Comienza la aventura...</h4>
    	  <a href="/signup"><button type="button" class="btn btn-default btn-lg botones">Regístrate</button></a>
    	  <a href="/login"><button type="button" class="btn btn-default btn-lg botones">Login</button></a>
	    </div>
    </div>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>