<!DOCTYPE html>
<html>
  <head>
    <title>WalkERS - Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/welcome.css">
  </head>
  <body>
    <div id="contenido">
      <div id="texto">
    	  <h1>WalkERS</h1>
    	  <h3>Bienvenido a la red social dedicada al mundo del senderismo. Podrás obtener información de las mejores rutas de tu zona y poder compartir la experiencia con la comunidad.</h3>
    	  <h4>Comienza la aventura...</h4>
    	  <a href="/signup"><button type="button" class="btn btn-default btn-lg botones">Regístrate</button></a>
    	  <a href="/login"><button type="button" class="btn btn-default btn-lg botones">Login</button></a>
	    </div>
    </div>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>