.lista-amigos {
	/*background-color: white;*/
	overflow:hidden;
	min-height: 200px;
	height:auto;
}
.clase-amigo {
	float:left;
	width: 300px;
}

.alert-danger{
	max-width: 300px;
  	max-height:500px;
 	min-height: 40px;
	text-align:center;
	margin: 0 auto; /*Centrar el texto */

}

h4 {
  color:white;
}
