html,
body {
  height: auto;
  /*background-color: #66A523;*/
}
body {
  font-family: 'Rajdhani', sans-serif;
  color: black;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  background: green url(../img/wallpaper2.jpg);
  background-attachment: fixed;
}

#populares {
	width: 100%;
	height: 300px;
	background-color: rgba(255,255,255, 0.8);
	margin-bottom: 10px;
	border-radius: 10px;
}

#populares h4 {
	padding-top: 15px;
}

#ultimas {
	width: 100%;
	background-color: rgba(255,255,255, 0.8);
	height: 300px;
	border-radius: 10px;
}

#ultimas h4 {
	padding-top: 15px;
}

.imagen {
	margin-left: 5px;
	margin-right: 5px;
}
