html,
body {
  height: auto;
  /*background-color: #66A523;*/
}
body {
  font-family: 'Rajdhani', sans-serif;
  color: black;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  background: green url(../img/wallpaper2.jpg);
  background-attachment: fixed;
}

.panel.panel-success {
	background-color: rgba(255,255,255, 0.8);
	margin-bottom: 6px;
}

.imagen {
	margin-left: 5px;
	margin-right: 5px;
}

p {
	margin: 0;
}

#descripcion {
  resize:none;
}

#imagen-menu {
  width: 55px;
  height: auto;
  margin-top:4px;
  /*border: 1px solid #000;*/
  /*border-radius: 50%;*/
  overflow: hidden;
}