html,
body {
  height: 100%;
  background-color: #66A523;
  color: #000;
}

h1 {
  color: #fff;
  padding-top: 5px;
}

#titulo {
  background: rgba(255,255,255, 0.7);
  height: 100%;
  width: auto;
  margin: 0 auto;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom: 1px solid white;
}

#contenido {
  background: rgba(255,255,255, 0.7);
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

#izquierda {
  float: left;
  width: 35%;
  background: #fff;
  margin-right: 25px;
  margin: 10px;
  border-radius: 5px;
}

#derecha {
  float: left;
  width: 50%;
  height: 300px;
  margin: 10px;
}

#imagen-portada {
  width: 100%;
  /*margin:5%;*/
}

.menu {
  text-align: left;
}

#panel {
  background: rgba(255, 255, 255, 1);
  height: 100%;
  border-radius: 5px;
}

#semaforo {
  width: 30px;
  height: auto;
}

.reset {
  clear: both;
}

#profile.tab-pane.fade.menu{
  width: auto;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border;
}

#posts {
  margin: 0;
  width: 100%;
  height: 190px;
  background: #5CB85C;
  overflow-y: scroll;
  padding: 10px;
  box-shadow: inset 2px 2px 5px rgba(0,0,0, 0.5);
}

#mensaje {
  vertical-align: text-bottom;
}

#comentario-post {
  resize:none;
}

#posts-general {
  overflow-y: scroll;
}

#boton {
  text-align: right;
}