html,
body {
  height: 100%;
  background-color: #66A523;
}

/*#contenedor{
        background-color:#F4ABF2;
        border:5px solid blue;
}*/     
#cabecera{
        /*background-color:#66A523;*/
        height:20%;
}
#menu{
        height:10%;
        /*background-color:red;*/
}
#izquierda{
        height:60%;
        /*background-color:black;*/
        float:left;
        margin-left: 2cm;*/
        width:40%;
}
#derecha{
        height:50%;
        /*background-color:white;*/
        float:right;
        width:60%;
        /*border: 4px solid #fff;*/
}
#pie{
        height:20%;
        /*background-color:yellow;*/
        clear:both;
}

h1 {
  font-weight: 400;
  font-size: 60px;
}
h2{
   font-weight: 400;
   font-size: 30px;
   margin-left:2cm;
}
p{
float:center;
margin-left:4.5cm;

}

#texto {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  color: #FFFFFF;
}
